.navbar {
    position: fixed; /* Add relative positioning */
    width: 100%;
    color: #ffffff;
    padding: 10px 20px;
    font-family: 'Fira Code', monospace;
    /* box-shadow: 0 2px 4px #e4e5f1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    top: 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Align items to the end (right) */
    align-items: center; /* Vertically center all nav items */
    margin-left: auto;
    padding-right: 50px;
}

.nav-links li {
    margin: 0 25px;
    transition: transform 0.3s ease;
}

.nav-links a {
    color: #9394a5;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}

.nav-links li:hover {
    transform: scale(1.1);
}


.hamburger {
    display: none; /* Hide by default */
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
}

.hamburger:hover {
    transform: scale(1.05);
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    margin: 4px 0;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: 3px;
    transition: all 0.3s ease;
}

.hamburger:hover span {
    transform: scale(1.1);
    background-image: linear-gradient(to left, #4facfe 0%, #00f2fe 100%);
}

.hamburger.open span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.full-screen-animation {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    justify-content: center;
    height: 60vh;
    padding-left: 200px; /* Padding for larger screens */
    margin: 0;
    padding-top: 200px;
    background-image: url('../../constants/background3.jpeg'); /* Path to your image */
    background-position: bottom; /* Adjusted vertical alignment */
    background-size: cover; /* Cover the entire area */
    background-repeat: no-repeat; /* No repeat of the image */
}


.resume-link {
    background-color: transparent; /* No background color */
    color: #08335a; /* Text color */
    padding: 10px 15px; /* Padding inside the button */
    border-radius: 8px; /* Rounded corners */
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
    border: 2px solid #08335a; /* Solid border */
    cursor: pointer;
}

.resume-link:hover, .resume-link:focus {
    color: #00f2fe; /* Change text color on hover/focus */
    border-color: #00f2fe; /* Change border color on hover/focus */
    transform: translateY(-2px); /* Slight move up effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
    outline: none;
}


/* Adjust the navbar styles to better accommodate the resume button */
.nav-links li {
    margin: 0 10px; /* Adjust the margin as needed */
}


.animated-text {
    /* Example styling, adjust as needed */
    flex-grow: 1;
    text-align: center;
}



.navbar-container {
    padding-top: 40px;
    width: 100%;
}


.static-text p {
    font-weight: bold;
    color: #9394a5;
    font-size: 5rem;
    margin: 0; /* Reset default margins */
    padding: 0; /* Reset default paddings */
}

.animated-text h1 {
    font-weight: bold;
    color: #9394a5;
    font-size: 5rem;
    margin: 0; /* Reset default margins */
    padding: 0; /* Reset default paddings */
}



@media screen and (max-width: 650px) {
    .full-screen-animation {
        padding-left: 50px; /* Remove left padding on smaller screens */
        align-items: flex-start; /* Align items to the left */
    }

    .navbar {
        justify-content: space-between;
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 10px;
        right: 20px;
        justify-content: flex-end;
        margin-right: 40px; /* Adjusts the right margin to move the icon to the left */
        /* other styles */
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-start; /* Align items to the end */
        border-radius: 5px;
        padding: 10px;
        width: 30%; /* Adjust width as needed */
        position: fixed; /* Changed from absolute to fixed */
        top: 0; /* Align to the top of the viewport */
        bottom: 0; /* Align to the bottom of the viewport */
        right: -100%; /* Initially hide off-screen */
        width: 30%; /* Adjust width as needed */
        height: 50%; /* Full height */
        transition: right 0.3s ease; /* Smooth transition for the right property */
    }

    .nav-links.expanded {
        right: 0; /* Bring into view */
        display: flex; /* Ensure it's displayed */
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .hamburger {
        z-index: 1001; /* Ensure hamburger is above the nav links */
    }


    .nav-links li {
        margin: 10px 0;
    }
}




