/* AboutMe.css */

.about-me-container {
    display: flex;
    flex-direction: row; /* Align items in a row */
    flex-wrap: wrap; /* Wrap items on smaller screens */
    justify-content: center; /* Center items */
    align-items: flex-start; /* Align items to the top */
    gap: 20px; /* Space between elements */
    margin: 20px;
}

.about-me {
    flex: 1;
    padding: 20px;
    max-width: 45%; /* Optimal width for readability */
    min-width: 300px; /* Minimum width */
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.about-me-heading {
    text-align: center; /* Center the heading */
    color: #00f2fe; /* Choose a color that fits your design */
    font-size: 2.5rem; /* Adjust the size as needed */
    margin: 0 15px; /* Adjust space around the heading */
    font-family: 'Arial', sans-serif; /* Font style, can be adjusted */
}

.line {
    flex: 1; /* Allow lines to take up equal space on both sides */
    height: 2px; /* Line thickness */
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #9394a5, rgba(0, 0, 0, 0)); /* Horizontal fade effect */
}

.resume-section {
    flex: 1;
    padding: 20px;
    text-align: center; /* Center align the image */
    max-width: 45%;
    min-width: 300px;
}

.about-me p {
    color: #9394a5; /* Darker color for better readability */
    font-size: 18px;
    line-height: 1.7;
    font-family: 'Arial', sans-serif; /* More readable font */
}

.resume-image {
    max-width: 100%; /* Responsive image width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Slightly rounded corners for the image */
    box-shadow: 0 4px 8px #9394a5;
}

@media screen and (min-width: 1200px) {
    .resume-image {
        max-width: 50%; /* Adjust the image size for larger screens */
    }
}

@media screen and (max-width: 900px) {
    .about-me-container {
        flex-direction: column; /* Stack elements in a column on smaller screens */
    }

    .about-me, .resume-section {
        max-width: 100%;
    }
}
