.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #9394a5;
    margin-bottom: 40px;
    padding: 50px 0;
}

.project-description, .project-images {
    flex: 1;
    margin: 20px;
    max-width: 50%; /* Ensures the text and images take up similar width */
}

.project-description {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the text content */
}

.project-description h2, .project-description p {
    margin: 0;
    padding: 0;
}

.project-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-images img {
    max-width: 100%;
    max-height: 300px; /* Limits image height for balance */
    object-fit: cover; /* Ensures the image scales well */
}

.image-navigation {
    margin-top: 10px;
}

.nav-dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.nav-dot.active {
    background-color: #00f2fe;
}

.project-technologies {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.tech-item {
    margin: 5px;
    padding: 10px 15px;
    color: white;
    background-color: transparent;
    border: 2px solid #00f2fe;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.tech-item:hover {
    background-color: #00f2fe;
    color: black;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project-description, .project-images {
        max-width: 100%;
    }

    .project-images img {
        max-height: 250px; /* Adjusts image height for smaller screens */
    }
}

@media (max-width: 450px) {
    .project-description {
        padding: 0;
    }
    
    .tech-item {
        margin-bottom: 5px;
    }
}
